{% extends 'partials/base.html.twig' %}

{% block connard %}

<h2>Kevin anoll's Posts</h2>
<ul>
    {% for page in taxonomy.findTaxonomy({'category':'jv'}) %}
        <li>Kévin cé leu plu bo kar cé pa 1 pédé</li>
        <li>{{ page.title }}</li>
    {% endfor %}
</ul>

{% endblock %}